<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <consoleSettings consoleTimestampFormat="&#10;yyyy-MM-dd hh:mm:ss.zzz&#10;" consoleBackgroundColor="efefef" consoleNewLineAfterBytes="0" consoleNewLineAfterPause="0" consoleNewLineAt="10" consoleReceiveColor="000000" consoleSendColor="7c0000" consoleSendOnEnter="&#13;&#10;" generateTimeStampsInConsole="0" lockScrollingInConsole="0" maxCharsInConsole="200000" showAsciiInConsole="1" showBinaryConsole="0" showCanMetaInformationInConsole="1" showCanTab="0" showDecimalInConsole="0" showHexInConsole="0" showMixedConsole="0" showReceivedDataInConsole="1" showSendDataInConsole="1" stringConsoleFont="MS Shell Dlg 2" stringConsoleFontSize="10" timeStampIntervalConsole="100" updateIntervalConsole="200"/>
  <logSettings logTimestampFormat="&#10;yyyy-MM-dd hh:mm:ss.zzz&#10;" generateTimeStampsInLog="0" htmlLogFile="0" htmlLogFileName="" logNewLineAfterBytes="0" logNewLineAfterPause="0" stringHtmlLogFont="MS Shell Dlg 2" stringHtmlLogFontSize="10" textLogFile="0" textLogFileName="" timeStampIntervalLog="100" writeAsciiInToLog="1" writeBinaryInToLog="0" writeCanMetaInformationInToLog="1" writeDecimalInToLog="0" writeHexInToLog="0" writeReceivedDataInToLog="1" writeSendDataInToLog="1"/>
  <serialPortSetting baudRate="115200" dataBits="8" flowControl="None" name="" parity="None" setDTR="1" setRTS="1" stopBits="1"/>
  <socketSetting adress="" connectionType="0" ownPort="0" partnerPort="0" proxyAddress="" proxyPassword="" proxyPort="0" proxySettings="1" proxyUserName="" socketType="Tcp client"/>
  <pcanSetting baudRate="20" busOffAutoReset="1" channel="0" filterExtended="1" filterFrom="00000000" filterTo="1FFFFFFF" powerSupply="0"/>
  <sendWindow cyclicScript="./exampleScripts/SequenceScripts/sequenceSendScript.js" interactiveConsoleCheckBox="0" isConnected="0" sendString="00 01 02 03 04 05 06 07 08" sendStringFormat="hex" sendStringPause="0" sendStringRepetition="0" sequenceFileName=""/>
  <scriptWindow scriptConfigFileName="" scriptEditorPath=""/>
  <searchConsoleWindow lastSearchStrings="" directionDownRadioButton="0" matchCaseCheckBox="0" matchWholeWordCheckBox="0"/>
</settings>
